
body{
   
    background-image: url(pic/hr3.jpg);
    background-size:cover;

}
input[type=submit]
{
    height: auto;
    width: auto;
    border-radius: 12px;
    border-width: 3;
    cursor: pointer;
    background-color: rgb(232, 234, 242) ;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
input[type=text]
{
    text-align: center;
    border-radius: 25px;
}
input[type=password]
{
    text-align: center;
    border-radius: 25px;
}

