body{
    background-image: url(pic/cust.jpg);
    background-color: rgba(238, 141, 117, 0.875);
    background-size: cover;
    text-transform: capitalize;
}

table{
   
    margin-bottom: 500;
    height: auto;
    width: auto;
    border-radius: 20px;
    border-color: rgba(251, 79, 79, 0.742);
}
input[type=text]
{
    
    border-radius: 35px;;
    height: 30;
    width: 300;
    text-align: center;color: black;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color: wheat;
}
input[type=button]
{
    height: auto;
    width: auto;
    border-radius: 12px;
    border-width: 3;
    cursor: pointer;
    background-color: rgb(127, 255, 212) ;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
input[type=submit]
{
    height: auto;
    width: auto;
    border-radius: 12px;
    border-width: 3;
    cursor: pointer;
    background-color: aquamarine ;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.reset1
{
    height: auto;
    width: auto;
    border-radius: 12px;
    border-width: 3;
    cursor: pointer;
    background-color: aquamarine ;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
select{
    height: auto;
    width: auto;
    border-radius: 12px;
    border-width: 3;
    cursor: pointer;
    background-color: aquamarine ;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
input[type=button]:hover 
{
    background-color: rgb(124, 88, 41);

    
}
input[type=submit]:hover
{
    background-color: aliceblue;

}
select:hover
{
    background-color: antiquewhite;
}
p{
    font-family:cursive;
    font-style:normal;
    font-size: large;
    color: rgb(0, 3, 2);
}
